










/* ____________ C O N T E N T ____________ */






/* --------------E V E N T S------------- */

.events {
    display: flex;
    gap: 15px;

    justify-content: space-between;
}

.events__big {
    position: relative;

    width: 1066px;
    height: 500px;
}

.events__big-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: left;
}

.events__slider-bar {
    position: absolute;
    left: 40px;
    bottom: 40px;
}

.events__slider-bar-date {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;

    color: #D11F8A;
}

.events__slider-bar-title {
    margin-top: 7px;

    font-family: 'Futura PT';
    font-weight: 600;
    font-size: 26px;

    color: #FFFFFF;
}

.events__slider-bar-place {
    font-family: 'Futura PT';
    font-weight: 400;
    font-size: 26px;

    color: rgba(255, 255, 255, 0.7);
}

.events__control-list {
    display: flex;
    margin-top: 14px;
    gap: 19px;
}

.events__control-item {
    height: 7px;
    width: 7px;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.events__control-item:hover {
    background-color: #D11F8A;
}

.control-item_active {
    background-color: #D11F8A;
}



.events__wr-nearest {
    display: flex;

    flex-direction: column;
}

.events__nearest-title {
    font-family: 'Futura PT';
    font-weight: 600;
    font-size: 28px;

    color: #FFFFFF;
}

.events__nearest-list {
    display: flex;
    margin-top: 31px;

    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.events__nearest-item {
    padding: 14px 15px;

    background: #131721;
}

.events__nearest-link {
    display: flex;
    gap: 12px;
}

.events__nearest-wr-img {
    height: 106px;
    min-width: 106px;
}

.events__nearest-img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

.events__nearest-date {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;

    color: #D11F8A;
}

.events__nearest-card-title {
    margin-top: 12px;
}

.events__nearest-text {
    margin-top: 5px;

    font-family: 'Futura PT';
    font-weight: 400;
    font-size: 14px;

    color: rgba(255, 255, 255, 0.8);
}


/* ------- Ф О Т О О Т Ч Е Т Ы ---------- */

.fotoreports{
    margin-top: 80px;
}

.fotoreports__header-icon {
    height: 40px;
    width: 37px;

    background: no-repeat url(../svg/video-player1.svg);
    background-size: 100% 100%;
    background-position: center;
}

.fotoreports__wr-content {
    display: flex;
    gap: 30px;
    margin-top: 20px;

    flex-direction: column;

}

.fotoreports__wr-cards-vertical {
    display: flex;

    justify-content: space-between;
}

.fotoreports__wr-cards-left,
 .fotoreports__wr-cards-right {
    display: flex;

    flex-direction: column;
    gap: 30px;
 }

.fotoreports__wr-cards-horizontal {
    display: flex;

    justify-content: space-between;
}

.fotoreports__card-item {
    position: relative;
}

.card-item_first {
    width: 730px;
    height: 281px;
}

.card-item_second {
    width: 730px;
    height: 371px;
}

.fotoreports__card-item_third {
    width: 350px;
    height: 438px;
}

.fotoreports__card-item_fourth {
    width: 350px;
    height: 100%;
}

.fotoreports__card-item_fifth {
    width: 350px;
    height: 421px;
}

.fotoreports__card-item_sixth {
    width: 730px;
    height: 421px;
}

.fotoreports__icon-date {
    height: 16px;
    width: 16px;

    background: no-repeat url(../svg/date.svg);
    background-position: center;
}

.fotoreports__icon-photo {
    height: 16px;
    width: 20px;

    background: no-repeat url(../svg/photo.svg);
    background-position: center;
}




/* ----------- А Н О Н С Ы */

.announcements {
    margin-top: 80px;
}

.announcements__header-icon {
    height: 35px;
    width: 35px;

    background: no-repeat url(../svg/rocket_icon.svg);
}

.announcements__wr-content {
    display: flex;
    gap: 30px;
    margin-top: 20px;

    flex-direction: column;
}

.announcements__item {
    position: relative;
}

.announcements__line-list {
    display: flex;

    justify-content: space-between;
}

.announcements__item-link_small {
    width: 350px;
    height: 262px;
}


.announcements__item-link_big {
    width: 540px;
    height: 396px;
 }

.announcements__icon-cost {
   height: 16px;
   width: 16px;

   background: no-repeat url(../svg/cost.svg);
   background-position: center;
}


 /* ------------- PLACE FOR ADVERTISEMENT */

.place-advertisement {
    margin-top: 30px;
    padding: 53px 0;

    background: no-repeat url(../img/background-place-advertisement.png);
    background-position: center;
}

.place-advertisement__link {
   font-family: 'Futura PT';
   font-weight: 700;
   font-size: 54px;
   text-transform: uppercase;
   text-align: center;
}


/* -----------  З А В Е Д Е Н И Я */

.establishments {
    margin-top: 80px;
}

.establishments__header-icon {
    width: 24px;
    height: 35px;

    background: no-repeat url(../svg/place-icon.svg);
    background-position: center;
}

.establishments__cards-list {
    display: flex;
    gap: 30px;
    margin-top: 20px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.establishments__wr-img {
    width: 350px;
    height: 249px;
}

.establishments__wr-description {
    width: 350px;
    padding: 25px 20px 25px 20px;

    background-color: #131721;
}

.establishments__wr-name-stars {
    display: flex;
    gap: 46px;
}

.establishments__stars-list {
    display: flex;
    gap: 4px;

    align-items: center;
}

.establishments__star-item {
    height: 16px;
    width: 16px;

    background: no-repeat url(../svg/star-orange-100.svg);
    background-position: center;
}

.establishments__description {
    margin-top: 3px;

    font-family: 'Futura PT';
    font-weight: 400;
    font-size: 18px;

    opacity: 0.8;
}

.establishments__wr-icon-address {
    margin-top: 15px;
}

.establishments__icon {
    width: 11px;
    height: 16px;

    background: no-repeat url(../svg/location-orange.svg);
    background-position: center;
}


/* ----------- ARTICLES */

.articles {
    margin-top: 80px;
}

.articles__header-icon {
    width: 28px;
    height: 35px;

    background: no-repeat url(../svg/article-icon.svg);
    background-position: center;
}

.articles__list {
    display: flex;
    margin-top: 20px;

    justify-content: space-between;
}

.articles__link {
    position: relative;

    width: 350px;
    height: 254px;
}

.articles__date {
    margin-top: 6px;

    font-family: 'Futura PT';
    font-weight: 600;
    font-size: 16px;

    color: #D11F8A;
}


/* -------- VIDEO */

.video {
    margin-top: 80px;
}

.video__header-icon {
    height: 35px;
    width: 35px;

    background: no-repeat url(../svg/video-icon1.svg);
}

.video__list-card {
    display: flex;
    margin-top: 20px;
    gap: 30px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.video__link-card {
    position: relative;

    height: 342px;
    width: 540px;
}

.video__wr-icon-text {
    margin-top: 6px;
}



